<div class="container-fluid p-2 col-6">
  <div class="card">
    <div class="card-header">
      <div class="d-flex">
        <h2>New workout</h2>
        <%= link_to 'Back', root_path, class: 'btn ml-auto', id: 'btn-sec'%>
      </div>
    </div>
    <div class="card-body">
      <%= render 'form', workout: @workout, user_id: current_user.id %>
    </div>
  </div>
</div>
