<div class="container p-3 col-6">
  <div class="card">
    <div class="card-header">
      <h2>Routine details</h2>
    </div>
    <div class="card-body">
      <%= render 'routine' %>
      <%= link_to 'Edit', edit_user_routine_path(@routine), class: 'btn' %>
      <%= link_to 'Back', user_routines_path, class: 'btn' %>
    </div>
  </div>
</div>
