<div class="table-responsive">
  <table class="table table-hover table-details">
    <tr>
      <th class="text-center">Status</th>
      <td class="text-center"><%= @contract.state %></td>
    </tr>
    <tr>
      <th class="text-center">Client</th>
      <td class="text-center"><%= User.find(@contract.client_id).name %></td>
    </tr>
    <tr>
      <th class="text-center">Start date</th>
      <td class="text-center"></td>
    </tr>
    <tr>
      <th class="text-center">End date</th>
      <td class="text-center"></td>
    </tr>
  </table>
</div>
