<div class="p-1">
  <%= link_to 'New appointment', user_path(@user), method: :delete, class: 'btn' %>
</div>
<div class="p-1">
  <%= link_to 'New diet', user_path(@user), method: :delete, class: 'btn' %>
</div>
<div class="p-1">
  <%= link_to 'Cancel relationship', user_path(@user), method: :delete, class: 'btn' %>
</div>