<div class="p-1">
  <%= link_to 'New appointment', user_path(@user), method: :delete, class: 'btn', id: 'btn-sec' %>
</div>
<div class="p-1">
  <%= link_to 'New assignment', user_path(@user), method: :delete, class: 'btn', id: 'btn-sec' %>
</div>
<div class="p-1">
  <%= link_to 'Cancel relationship', user_path(@user), method: :delete, class: 'btn', id: 'btn-sec' %>
</div>