<div class="table-responsive">
  <table class="table table-hover table-details">
    <tr>
      <th class="text-center">Name</th>
      <td class="text-center"><%= @physio_exercise.name %></td>
    </tr>
    <tr>
      <th class="text-center">Description</th>
      <td class="text-center"><%= @physio_exercise.description %></td>
    </tr>
    <tr>
      <th class="text-center">Duration</th>
      <td class="text-center"><%= @physio_exercise.duration %></td>
    </tr>
  </table>
</div>
