<div class="container p-3 col-6">
  <div class="card">
    <div class="card-header">
      <h2>New physio exercise</h2>
    </div>
    <div class="card-body">
      <%= render 'form', physio_exercise: @physio_exercise, user_id: current_user.id %>
    </div>
  </div>
</div>
