<div class="container-fluid p-3 col-9">
  <div class="card">
    <div class="card-header">
      <div class="d-flex">
        <h2>New meal</h2>
        <%= link_to 'Back', root_path, class: 'btn ml-auto'%>
      </div>
    </div>
    <div class="card-body">
      <%= render 'form', meal: @meal, user_id: current_user.id %>
    </div>
  </div>
</div>
