<div class="container-fluid">
  <div class="d-flex">
    <h2>New meal</h2>
    <%= link_to 'Back', meals_path, class: 'btn ml-auto', id: 'btn-sec'%>
  </div><hr>
	
	<%= render 'form', meal: @meal, user_id: current_user.id %>
</div>