<div class="container p-3 col-6">
  <div class="card">
    <div class="card-header d-flex">
      <div class="mr-auto">
        <h3>Meal details</h3>
      </div>
      <%= link_to 'Edit', edit_user_meal_path(@meal), class: 'btn' %>
      <%= link_to 'Back', :back, class: 'btn'%>
    </div>
    <div class="card-body">
      <%= render 'meal' %>
    </div>
  </div>
</div>
