/* MATERIAL BOOTSTRAP COLORS: */
$main-orange: #f57c00;
$secondary-orange: #fff3e0;
$secondary-green: #009688;
$turquoise: #1ABC9C;
$green-sea: #16A085;
$midnight-blue: #2C3E50;
$pumpkin: #D35400;
$secondary-blue: #0288d1;
//$background-elements: rgba(246,246,246,0.2), rgba(0,0,0,0,0.05);

/* ORANGE BLUE PALETTE FROM COLORSINSPO.COM */

$ob_main: #f96d15;
$ob_secondary1: #45969b;
$ob_secondary2: #50b6bb;
$ob_secondary3: #f8f8f8;

/* GREEN PALETTE FROM COLORSINSPO.COM */

$gp_main: #40514e;
$gp_secondary1: #2cb978;
$gp_secondary2: #83e85a;
$gp_secondary3: #3b5441;

/* ORANGE GRAY PALETTE FROM COLORINSPO.COM */

$og_main: #f78536;
$og_secondary1: #dfebed;
$og_secondary2: #497285;
$og_secondary3: #2b4450;

/*  ORANGE BLUE GREEN PALETTE FROM PALETTON.COM */

$obg-main-orange: #FF6700;
$obg-secondary-orange: #FF9C00;
$obg-blue: #026BE9;
$obg-green: #00E8C1;

//.color-primary-0 { color: #FF6700 }	/* Main Primary color */
//.color-primary-1 { color: #FF9C58 }
//.color-primary-2 { color: #FF7E26 }
//.color-primary-3 { color: #FF6700 }
//.color-primary-4 { color: #F36200 }
//
//.color-secondary-1-0 { color: #FF9C00 }	/* Main Secondary color (1) */
//.color-secondary-1-1 { color: #FFBE58 }
//.color-secondary-1-2 { color: #FFAB26 }
//.color-secondary-1-3 { color: #FF9C00 }
//.color-secondary-1-4 { color: #F39400 }
//
//.color-secondary-2-0 { color: #1179F7 }	/* Main Secondary color (2) */
//.color-secondary-2-1 { color: #62A4F4 }
//.color-secondary-2-2 { color: #368DF6 }
//.color-secondary-2-3 { color: #026BE9 }
//.color-secondary-2-4 { color: #034A9F }
//
//.color-complement-0 { color: #00F6CD }	/* Main Complement color */
//.color-complement-1 { color: #54F4D9 }
//.color-complement-2 { color: #24F6D3 }
//.color-complement-3 { color: #00E8C1 }
//.color-complement-4 { color: #009A80 }

$gr1: #005b88;
$gr2: #007da7;
$gr3: #00a0b5;
$gr4: #00c1af;

/* ---------------------------------------- */

* {
  font-family: "Quicksand";
}


/* Make footer always after page content, at the bottom */

html {
  height: 100%;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1;
}

.footer-box {
  color: white;
  font-size: 14px;
  margin-top: 30px;
  padding: 10px 0px 10px 0px;
  background-color: $gr2;
}
/* --------------------------- */

body {
  //background-image: linear-gradient(to top, #f48606, #bda200, #85b13d, #4db873, #09b9a3);
  //background-image: linear-gradient(to top, #00e098, #00c1af, #00a0b5, #007da7, #005b88);
}

/* Devise screens */ 
.sign-in-screen, .sign-up-screen, .forgot-password-screen, .change-password-screen, .send-confirmation-screen {
  background-image: radial-gradient(circle, #005b88, #006c96, #007da2, #008fac, #00a0b5);
}

.logo {
  font-family: "Sriracha";
}

.nutrain-logo {
  height: 500px;
  width: 250px;
}

a,a:visited {
    color: inherit !important;
    text-decoration: none;
}

table {
    background-color: rgba(0,0,0,0.025);
}

#btn-sec {
  color: white;  
  background-color: $gr2;
  margin: 5px 5px 5px 5px;
}

#upper-toolbar {
  background-color: #cfd8dc;
  height: 15%; // Is it doing something???
}

@media (min-width: 768px) {  
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    border-radius:0;
  }
}

.navbar {
  background-color: $gr1;
  text-decoration: none;
  border-bottom: 0;
  color: white;
  li {
    padding-left: 5px;
    padding-right: 5px;

    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
  }
}

.navbar-nav > .active > a {
    background: $midnight-blue;
    border: medium none;
}

.navbar-default .navbar-nav>.active> a, 
.navbar-default .navbar-nav>.active> a:focus, 
.navbar-default .navbar-nav>.active> a:hover {
  background: #86bb15;
}

.vl {
  border-left: solid 1px $obg-secondary-orange;
  height: 800px;
}

hr {
  background-color: $obg-secondary-orange;
  color: $gp_secondary3;
  height: 0.25px;
}

.daily-workouts-header, .daily-meals-header {
  background-color: $gr2;
  border-radius: 5px 5px 0px 0px;
  h3 {
    color: white;
    margin-left: 5px;
  }
}

.workout-block {

}

.daily-summary-header {
  background-color: $gr2;
  h2 {
    color: white;
    margin-left: 5px;
  }
}

.daily-macros-header {
  background-color: $gr2;
  border-radius: 5px 5px 0px 0px;
  h3 {
    color: white;
    margin-left: 5px;
  }
}

.daily-kcal-header, .daily-protein-header, .daily-carbs-header, .daily-fats-header {
  background-color: $ob_secondary3;
  height: 15%;
  align-items: center;
}

.weekly-macros-header {
  background-color: $gr2;
  border-radius: 5px 5px 0px 0px;
  h3 {
    color: white;
    margin-left: 5px;
  }
}

h4 {
  color: black;
  padding: 0px 0px 0px 5px;
}

.appointment-box {
  background-color: $gr2;
  padding: 2px 2px 2px 2px;
  margin: 2px 2px 2px 2px;
  border-radius: 5px 5px 5px 5px;
  text-align: center;
  color: white;
  //width: max-content;
}

.table-title {
  color: white;
  background-color: $gr2;
  height: 15%;
}

/* ROUNDED BORDERS IN TABLE */
table {
  border-collapse: collapse;
  border-radius: 5px 5px 5px 5px; //1em;
  overflow: hidden;

  th, td {
    padding: 1em;
  }
}

.table-details, .table-summary-welcome-page {
  th {
    background-color: rgba(0, 0, 0, 0.025);
  }
}

/*
.css-mine {
  margin-top: 2em;
  clear: both;
}

body {
  margin: 1.5em;
}
*/

/* -------------------- */ 

/* STYLE SIMPLE CALENDAR */

.simple-calendar {
  .day {}

  .wday-0 {padding: 20px 20px 50px 20px;}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {}
}