/* MATERIAL BOOTSTRAP COLORS: */
$main-orange: #f57c00;
$secondary-orange: #fff3e0;
$secondary-green: #009688;
$turquoise: #1ABC9C;
$green-sea: #16A085;
$midnight-blue: #2C3E50;
$pumpkin: #D35400;
$secondary-blue: #0288d1;
//$background-elements: rgba(246,246,246,0.2), rgba(0,0,0,0,0.05);

/* ORANGE BLUE PALETTE FROM COLORSINSPO.COM */

$ob_main: #f96d15;
$ob_secondary1: #45969b;
$ob_secondary2: #50b6bb;
$ob_secondary3: #f8f8f8;

/* GREEN PALETTE FROM COLORSINSPO.COM */

$gp_main: #40514e;
$gp_secondary1: #2cb978;
$gp_secondary2: #83e85a;
$gp_secondary3: #3b5441;

/* ORANGE GRAY PALETTE FROM COLORINSPO.COM */

$og_main: #f78536;
$og_secondary1: #dfebed;
$og_secondary2: #497285;
$og_secondary3: #2b4450;

/*  ORANGE BLUE GREEN PALETTE FROM PALETTON.COM */

$obg-main-orange: #FF6700;
$obg-secondary-orange: #FF9C00;
$obg-blue: #026BE9;
$obg-green: #00E8C1;

$gr1: #005b88;
$gr2: #007da7;
$gr3: #00a0b5;
$gr4: #00c1af;

$pal1col1: #264653;
$pal1col2: #2a9d8f;
$pal1col3: #e9c46a;
$pal1col4: #f4a261;
$pal1col5: #e76f51;

$pal2col1: #2C2E36;
$pal2col2: #247171;
$pal2col3: #A6CF6D;
$pal2col4: #FABF58;
$pal2col5: #EB816E;

$pal3col1: #456990;
$pal3col2: #49BEAA;
$pal3col3: #EF767A;
$pal3col4: #49DCB1;
$pal3col5: #EEB868;

/* ---------------------------------------- */

* {
  font-family: "Quicksand";
}

/* Make footer always after page content, at the bottom */

html {
  height: 100%;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  //background-image: linear-gradient(to top, #f48606, #bda200, #85b13d, #4db873, #09b9a3);
  //background-image: linear-gradient(to top, #00e098, #00c1af, #00a0b5, #007da7, #005b88);
  background-color: $og_secondary1;
}
.content {
  flex: 1;
}

// Backgroun image -> not working now
.sign-in.screen, .sign-up-screen, .forgot-password-screen, .send-confirmation-screen {
  width: 100%;
  height: 100%;
  position: relative;
  // background-image: image-url('vitalii-pavlyshynets-kcRFW-Hje8Y-unsplash.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 //  color: white;
}

// Top screen shade for login, register and resend password screens
.custom-shape-divider-top-1591800413 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1591800413 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top-1591800413 .shape-fill {
  fill: #247171;
}

.footer-box {
  color: white;
  font-size: 14px;
  margin-top: 30px;
  padding: 10px 0px 10px 0px;
  background-color: $pal1col1;
}

// Background gradient for  screens
.sign-in-screen, .sign-up-screen, .forgot-password-screen, .change-password-screen, .send-confirmation-screen {
  //background-image: radial-gradient(circle, #005b88, #006c96, #007da2, #008fac, #00a0b5);
  background: linear-gradient(180deg, rgba(38,70,83,1) 0%, rgba(36,113,113,1) 58%, rgba(42,157,143,1) 100%);
}

.logo {
  font-family: "Sriracha";
}

li {
  a,a:visited {
    color: inherit !important;  // <- this makes dropdowns links text black
    text-decoration: none;
  }
}
/*
a:link { 
  color: white;
}
a:visited { 
  color: white;
}
a:hover { 
  color: #CCCCCC;
}
a:active { 
  color: white;
}*/

table {
    background-color: rgba(0,0,0,0.025);
}

#upper-toolbar {
  background-color: #cfd8dc;
  height: 15%; // Is it doing something???
}

@media (min-width: 768px) {  
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    border-radius:0;
  }
}

/*.select2-icon-result {
  display: flex;
  flex-flow: row nowrap;
}*/

.navbar {
  background-color: $pal1col1;
  text-decoration: none;
  border-bottom: 0;
  color: white;
  li {
    padding-left: 5px;
    padding-right: 5px;

    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
  }
}

.navbar-nav > .active > a {
    background: $midnight-blue;
    border: medium none;
}

/*
.navbar-default .navbar-nav>.active> a, 
.navbar-default .navbar-nav>.active> a:focus, 
.navbar-default .navbar-nav>.active> a:hover {
  background: #86bb15;
}
*/

// it does something???
li.dropdown-item {
  color: inherit !important;
}

.vl {
  border-left: solid 1px $obg-secondary-orange;
  height: 800px;
}

hr {
  background-color: $obg-secondary-orange;
  color: $gp_secondary3;
  height: 0.25px;
}

.daily-workouts-header, .daily-meals-header {
  background-color: $pal2col2;
  border-radius: 5px 5px 0px 0px;
  h3 {
    color: white;
    margin: 5px 0px 0px 5px;
  }
}

.workout-block {

}

.daily-summary-header {
  background-color: $pal2col2;
  h2 {
    color: white;
    margin-left: 5px;
  }
}

.daily-macros-header {
  background-color: $pal2col2;
  border-radius: 5px 5px 0px 0px;
  h3 {
    color: white;
    margin-left: 5px;
  }
}

.daily-kcal-header, .daily-protein-header, .daily-carbs-header, .daily-fats-header {
  background-color: $og_secondary1;
  height: 15%;
  align-items: center;
}

.weekly-macros-header {
  background-color: $pal2col2;
  border-radius: 5px 5px 0px 0px;
  h3 {
    color: white;
    margin-left: 5px;
  }
}

h1 {
  color: white;
}

h4 {
  color: black;
  padding: 0px 0px 0px 5px;
}

.appointment-box {
  background-color: $pal1col5;
  padding: 2px 2px 2px 2px;
  margin: 2px 2px 2px 2px;
  border-radius: 5px 5px 5px 5px;
  text-align: center;
  color: white;
  //width: max-content;
  a,a:visited {
    color: inherit !important;  // <- this makes dropdowns links text black
    text-decoration: none;
  }
}

.table-title {
  color: white;
  background-color: $pal2col2;
  height: 15%;
}

// Rounded borders in table
table {
  border-collapse: collapse;
  border-radius: 5px 5px 5px 5px; //1em;
  overflow: hidden;

  th, td {
    padding: 1em;
  }
}

.table-details, .table-summary-welcome-page {
  th {
    background-color: rgba(0, 0, 0, 0.025);
    color: black;
  }
}

.edit-meal-right-content {
  border-left: 1px black,;
}

// show same height as other bootstrap inputs
.select2-container .select2-selection--single {height: 40px !important;}

/*
.css-mine {
  margin-top: 2em;
  clear: both;
}

body {
  margin: 1.5em;
}
*/

// Simple calendar gem style
.simple-calendar {
  .day {}

  .wday-0 {padding: 20px 20px 50px 20px;}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {}
}

.calendar-title.btn {
  background-color: $pal2col2;
  color: white;
  margin: 0px;
  pointer-events: none;
  font-weight: bold;
}

.btn-calendar {
  font-weight: bold;
}

// Some media queries adjustments for Desktop, Mobile & Tablet

@media (min-width: 1025px) and (max-width: 1280px) {
  .select2 {
    max-width: 200px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .select2 {
    max-width: 150px;
  }
}

// Checkbox style (as slider)
/*
input[type="checkbox"],
input[type="checkbox"],
input[type="checkbox"],
input[type="checkbox"]
{
    position: relative;
    width: 40px;
    height: 20px;
    -webkit-appearance: none;
    background: #c6c6c6;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(255, 0, 0, 0.2);
    transition: .5s;
}
input:checked[type="checkbox"],
input:checked[type="checkbox"],
input:checked[type="checkbox"],
input:checked[type="checkbox"]
{
    background: #4b5366;
}
input[type="checkbox"]:before,
input[type="checkbox"]:before,
input[type="checkbox"]:before,
input[type="checkbox"]:before
{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    top: 0;
    left: 0;
    background: #ffffff;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: .25s;
}
input:checked[type="checkbox"]:before,
input:checked[type="checkbox"]:before,
input:checked[type="checkbox"]:before,
input:checked[type="checkbox"]:before
{
    left: 20px;
}
*/