<div class="container p-2">
  <h3>Appointment details</h3>
  <hr>
  <%= render 'appointment' %>
  <%= link_to 'Edit', edit_user_appointment_path(id: @appointment.id), class: 'btn', id: 'btn-sec' %>
</div>
