<div class="container p-3 col-6">
  <div class="card">
    <div class="card-header">
      <h2>New psychology exercise</h2>
    </div>
    <div class="card-body">
      <%= render 'form', psychology_task: @psychology_task %>
    </div>
  </div>
</div>