<div class="container p-4 col-6">
  <div class="card">
    <div class="card-header d-flex">
      <h2>New exercise</h2>
      <%= link_to 'Back', :back, class: 'btn ml-auto' %>
    </div>
    <div class="card-body">
      <!-- <%= render 'form', exercise: @exercise, user_id: current_user.id %> -->
      <p>If you want to create an exercise, please do it in the workout form.</p>
    </div>
  </div>
</div>
